
__pycache__/
*__pycache__*
*.py[cod]
*$py.class
*.pyc
**/*.pyc
**/*.pth
*.pth

**/*.jpg
*.png
*.jpg
*.pkl
*.json


**/*.png

**/__pycache__
pip-log.txt
.coverage.*
.cache

.env
.venv
env/
venv/
ui_main/node_modules
*ui_main/node_modules
*ui_main/node_modules/
# D:\virtual_try_on_project\inference.pth
